<br/>
<br/>

<div class="nested-fields">
          <div class="form-group">


<div class="form-group">
    <%= f.text_field :answer, placeholder: 'Enter Key', cols: "120", rows: "2", class: 'form-content form-block' %>
  </div>

  <br/>
<%= link_to_remove_association 'REMOVE KEY', f, class: 'btn btn-outline-danger btn-sm' %>
<br/>




   </div>
         </div>