<br/>
<div class = "container">
<div class="alert alert-success" role="alert" id = "edit_assign_heading">
  <b>UPDATE ASSIGNMENT: <%= @quiz.name %></b>
</div>

<%= render 'form', quiz: @quiz %>
<br/>
<br/>
<%= link_to 'BACK', quizzes_path, class: "btn btn-outline-primary" %>
<%= link_to 'PREVIEW', @quiz, class: "btn btn-outline-primary" %> 

</div>