<br/>
<br/>
<div class = "container">
<h3 style="color: navy;">NEW ASSIGNMENT</h3>

<%= render 'form', quiz: @quiz %>
<br/>
<br/>
<%= link_to 'BACK', quizzes_path, class: "btn btn-outline-primary" %>
</div>