<br/>
<br/>
<br/>
<div class="container" id="new_target">
<%= render 'form', target: @target %>

<br/>
<br/>
<br/>

<%= link_to 'BACK', targets_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary'%>
</div>
