<br/>
<br/>
<br/>
<div class="container" id="new_target">
<u><h4>PERSONAL TARGET</h4></u>
<br/>
<div class="alert alert-danger" role="alert">
<b>GENERAL:</b>
</div>
<br/>
<%= render 'form', target: @target %>

<br/>
<br/>
<br/>

<%= link_to 'BACK', targets_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary'%>
</div>
