<div class = "comment-card">
	<div class = "card">
		<div class = "card-block">
			<div class = "row">

				<div class = "col-md-1">
					<%= gravatar_helper comment.user %>
				</div>

				<div class = "col-md-11">
					<%= comment.content %>
					<hr id = "comment_hr">
					 <i>Comment By: </i><%= comment.user.first_name %>,<br/> <i>Posted:</i> <%= distance_of_time_in_words(comment.created_at, Time.now)%> ago
				</div>
			</div>
              <div>
               
              </div>
            </div>
        </div>
        <br/>
    <br/>
</div>
