<div class = "container" id = "new_error_form">
	<br/>
	<br/>
<h4> NEW ERROR</h4>
<hr>
<p id = "new_form_warning">Please note that all the form fields are mandatory except supporting document.</p>



<%= render 'form', tutorial: @tutorial %>
<br/>
<br/>
<%= link_to 'BACK', tutorials_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary'%>
</div>