<div class = "container">

<%= render 'form', story: @story %>
<br/>
<br/>
<br/>
<br/>

 
<%= link_to 'BACK', stories_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>
</div>




