
<div class ="container" id = "story_con">

<%= render 'form', story: @story %>


<br/>
<br/>
<br/>

<%= link_to 'BACK', stories_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', root_path, class: 'btn btn-outline-primary' %>

</div>