<br/>
<br/>
<div class ="container" id = "story_con">
<h4 style="color:navy"> WRITE YOUR THOUGHTS!!!</h4>

<%= render 'form', story: @story %>


<br/>
<br/>
<br/>

<%= link_to 'BACK', stories_path, class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-sm btn-outline-primary' %>

</div>