// Place all the styles related to the Communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "gritter";

.vl {
  border-left: 2px solid navy;
  height: 150px;
}

#application_name
{
  background-color: navy;
  height: 1.5em;
  font-size: 30px;
  margin-bottom:0px;
  color:white;
}

#kb_t
{
  width:100%;

}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
#r_1
{
  width:15%;
  text-align: left;
}
.container
{
  word-wrap:break-word;
}


#r_2
{
  width:10%;
}

#r_3
{
  width:75%;
  text-align: left;
}



  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top: 180px;

  }


  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }
  
  #article_body_design
  {
     text-align: justify;
  }


  .jumbotron
   {
   background-color:navy;
   border-radius:0px;
   color:white;
   margin: 0px;
   padding: 0px;
   }


  #navbarstrip
  {
  margin-top:0px;
  padding:5px;
  margin: 0px;
padding: 0px;
  width:100%
  } 


  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;

  }


  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }


  #user_details
  {
  width:100%;
  color:red;
  height:27px;
  margin-top:0px;
  }

#welcome_message
{
  width:100%;
  margin-bottom:0px;

}

#given_options
{
  float:right;
  color:navy;
  padding:0px;
  margin:0px;
}

#product_name
{
  margin-bottom:0px;
}

#h_line
{
  padding:0px;
  margin:0px;
}



html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}