// Place all the styles related to the Estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "gritter";

 #application_name
{
  background-color: navy;
  height: 1.5em;
  font-size: 30px;
  margin-bottom:0px;
  color:white;
}
#est_des
{
    text-align: justify;
}
#estimate_step
{
 font-size: 20px;
 padding: 0px;
 background-color: navy;
 border: 1px solid black;
 color: white;
 border-radius: 0px;
}
#f
{
  width: 80%;
}
#ff
{
  width: 25%;
}
#fff
{
  width: 5%;
  border-radius: 0px;
}
#udet
{
  color: navy;
  font-size: 10px;
  padding-left: 5px;
}
#udett
{
  font-size: 10px;
  padding-left: 5px;
  
}

#tt
{
  border: 1px solid navy;
}
#tour_table_c
{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 25%;
}
#tour_table_cone
{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 10%;
}
#tour_table_ctwo
{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 10%;
}
#tour_table_cthree
{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 20%;
}
#tour_table_a
{
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 35%;
}


  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top: 180px;

  }

  a:hover, a:active, a:focus 
{
  outline: 0;
}

  #total_card_cons
  {
    background-color:orange;
    border-radius:0px;
    height:30px;
    color:black;
    text-align: center;
  }

  #alert_stories {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

    #total_card_conf
  {
    background-color:red;
    border-radius:0px;
    height:30px;
    color:white;
    text-align: center;
  }

  #total_card
  {
    background-color:navy;
    border-radius:0px;
    height:30px;
    color:white;
  }


  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }
  
.container
{
  word-wrap:break-word;
}







  #tag
{
  border:2px solid yellow;
  height:200px;
  width:35%;
  margin-left:3%;
}
#col1
{
  width:15%;
  color:navy;
}
#col2
{
  width:15%;
  color:navy;
}
#col3
{
  width:55%;
  color:navy;
}
#col4
{
  width:15%;
  color:navy;
}
#tag_first
{
  border:2px solid yellow;
  height:200px;
  width:35%;
}
#year_disp
{
  width:20%;
  margin-left:4%;
  float:left;
}
#year_name
{
  color:black;
}
#year_lists
{
  width:100%;
  padding-top:10px;
  background-color:indigo;
  padding-left:0px;
  margin-left:0px;
  height:220px;
  text-align:left;

}
#year_container
{
  padding-left:0px;
  width:100%;
}
#year_n
{
  color:black;
}
#year_body
{
  margin-left:1%;
  float:left;
  padding-top:10px;
  padding-left:10px;
}
#expense_analytics
{
  width:80%;

}
#months_list
{
  
  padding:0px;

}
.row
{width:100%;}

@import "bootstrap";



  .jumbotron
   {
   background-color:navy;
   border-radius:0px;
   color:white;
   margin: 0px;
   padding: 0px;
   }


  #navbarstrip
  {
  margin-top:0px;
  padding:5px;
  margin: 0px;
padding: 0px;
  width:100%
  } 


  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;

  }


  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }


  #user_details
  {
  width:100%;
  color:red;
  height:27px;
  margin-top:0px;
  }

#welcome_message
{
  width:100%;
  margin-bottom:0px;

}

#given_options
{
  float:right;
  color:navy;
  padding:0px;
  margin:0px;
}

#product_name
{
  margin-bottom:0px;
}

#h_line
{
  padding:0px;
  margin:0px;
}











#year_row
{
  padding-left:1.5em;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  #year_name
  {
  width:100%;
  height:5em;
  }

 .pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.vl {
  border-left: 2px solid purple;
  height: 500px;
  padding-left: 10px;

}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}