// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
@import "gritter";

#application_name
{
  background-color: navy;
  height: 1.5em;
  font-size: 30px;
  margin-bottom:0px;
  color:white;
}
.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
a:hover, a:active, a:focus 
{
  outline: 0;
}
#udet
{
  color: navy;
  font-size: 10px;
  padding-left: 5px;
}
#udett
{
  font-size: 10px;
  padding-left: 5px;
  
}

  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;
      margin-top: 180px;

  }

   #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;


  }
 #form_container 
 {
 border:3px solid navy;
 background-color: blue;
 width:70%;
 margin-left: 5%;
 padding:15px;
 }
#ques
{
  width:75%;
}
#stats_container
{
  margin-left: 5%;
  padding:0px;
}
#feedback_form
 {
  border-collapse: separate;
  border-spacing: 0 70px;
  border:1px solid navy;
  align:center;
  width: 95%;
}

#feedback_results
{
  height:100px;
}

#my_feedback_count
{
  width: 75%;
}