// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "gritter";

#application_name
{
  background-color: navy;
  height: 1.5em;
  font-size: 30px;
  margin-bottom:0px;
  color:white;
}
.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
#word_b
{
  background-color: purple;
}
#details_row
{
  width:70px;
}
#identity
{
  font-size: 25px;
  color:navy;
}

#chart_jumbo
{
  padding-top: 5px;
}

.container
{
  word-wrap:break-word;
}


#identity_t
{
  font-size: 12px;
  color:navy;
}
#user_details_display_card
{
  padding:2px;
  margin:2px;
}

#news_jumbotron
{
	
    height:100%;
    margin:0px;
    padding:0px;
}

  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top: 180px;
  }


  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }

