// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "gritter";

#application_name
{
  background-color: navy;
  height: 1.5em;
  font-size: 30px;
  margin-bottom:0px;
  color:white;

}
.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

a:hover, a:active, a:focus 
{
  outline: 0;
}
#notification_card_text
{
  text-align: justify;
  text-justify: inter-word;
  font-size: 12px;
}
#notification_card_hr_line
{
  background-color: navy;
}
#notification
{
  float:left;
  padding-right:20px;
  margin-right:20px;
  padding-top:0px;
  margin-top: 0px;
 width: 40%;
 overflow: scroll;
 max-height:300px;

}
#notification_jumbo
{
  height:50%;
  padding-top: 0px;


}
.vl {
  border-left: 3px solid purple;
   max-height:300px;
 padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;

}
#testing
{
  
  padding-left: 0px;
  margin-left: 0px;
}
#notification_panel
{
  padding-right: 0px;
  margin-right: 0px;
}
#notification_card
{
  font-size: 14px;
}
#word_b
{
  background-color: purple;
}
#details_row
{
  width:70px;
}
#identity
{
  font-size: 25px;
  color:navy;
}

#chart_jumbo
{
  padding-top: 5px;
}

.container
{
  word-wrap:break-word;
}


#identity_t
{
  font-size: 12px;
  color:navy;
}
#user_details_display_card
{
  padding:2px;
  margin:2px;
}

#news_jumbotron
{
	  
    overflow: scroll;
 max-height:300px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 0px;
  margin-top:0px;

}
#news_jumbo_con
{
  padding-top: 0px;
  margin-top:0px;
}
#feed_col
{
  padding-top: 0px;
  margin-top: 0px;
}
  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top: 180px;
  }
#quick_launch_icons
{
  padding-bottom: 0px;
  border: 1 px solid black;
}
#udet
{
  color: navy;
  font-size: 10px;
  padding-left: 5px;
}
#udett
{
  font-size: 10px;
  padding-left: 5px;
  
}
  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 20px;
    text-decoration: none;
    background-color: green;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

