// Place all the styles related to the Communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "gritter";
@import "social-share-button";
#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#note {
    background-color: violet;
    color: black;
}

#button_list {
    margin-left: 20px;
}

#new_kb {
    background-color: maroon;
    height: 5px;
}

#news_hr {
    background-color: white;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#new_kb {
    color: green;
}

#kb_t {
    width: 100%;
}

#show_es {
    height: 270px;
}

#es_h {
    background-color: black;
}

#show_es_t {
    height: 170px;
}

#r_1 {
    width: 15%;
    text-align: left;
}

.container {
    word-wrap: break-word;
}

#r_2 {
    width: 10%;
}

#r_3 {
    width: 75%;
    text-align: left;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#article_body_design {
    text-align: justify;
}

.jumbotron {
    background-color: navy;
    border-radius: 0px;
    color: white;
    margin: 0px;
    padding: 0px;
}

#navbarstrip {
    margin-top: 0px;
    padding: 5px;
    margin: 0px;
    padding: 0px;
    width: 100%
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#user_details {
    width: 100%;
    color: red;
    height: 27px;
    margin-top: 0px;
}

#welcome_message {
    width: 100%;
    margin-bottom: 0px;
}

#given_options {
    float: right;
    color: navy;
    padding: 0px;
    margin: 0px;
}

#product_name {
    margin-bottom: 0px;
}

#h_line {
    padding: 0px;
    margin: 0px;
}

html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

@media (max-width: 767.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem);
        /* Account for horizontal padding on navbar */
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: var(--secondary);
}

.nav-underline .nav-link:hover {
    color: var(--blue);
}

.nav-underline .active {
    font-weight: 500;
    color: var(--gray-dark);
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: var(--purple);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

@import "gritter";
.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

.container {
    word-wrap: break-word;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#docipedia_table {
    width: 100%;
}

#table_heading_row {
    background-color: grey;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#est_des {
    text-align: justify;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#estimate_step {
    font-size: 20px;
    padding: 0px;
    height: 40px;
    background-color: navy;
    border: 1px solid black;
    color: white;
    border-radius: 0px;
}

#f {
    width: 80%;
}

#ff {
    width: 25%;
}

#fff {
    width: 5%;
    border-radius: 0px;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#tt {
    border: 1px solid navy;
}

#tour_table_c {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 25%;
}

#tour_table_cone {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 10%;
}

#tour_table_ctwo {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 10%;
}

#tour_table_cthree {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 20%;
}

#tour_table_a {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 35%;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 30%;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#total_card_cons {
    background-color: orange;
    border-radius: 0px;
    height: 30px;
    color: black;
    text-align: center;
}

#alert_stories {
    margin-bottom: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
}

#total_card_conf {
    background-color: red;
    border-radius: 0px;
    height: 30px;
    color: white;
    text-align: center;
}

#total_card {
    background-color: navy;
    border-radius: 0px;
    height: 30px;
    color: white;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

.container {
    word-wrap: break-word;
}

#tag {
    border: 2px solid yellow;
    height: 200px;
    width: 35%;
    margin-left: 3%;
}

#col1 {
    width: 15%;
    color: navy;
}

#col2 {
    width: 15%;
    color: navy;
}

#col3 {
    width: 55%;
    color: navy;
}

#col4 {
    width: 15%;
    color: navy;
}

#tag_first {
    border: 2px solid yellow;
    height: 200px;
    width: 35%;
}

#year_disp {
    width: 20%;
    margin-left: 4%;
    float: left;
}

#year_name {
    color: black;
}

#year_lists {
    width: 100%;
    padding-top: 10px;
    background-color: indigo;
    padding-left: 0px;
    margin-left: 0px;
    height: 220px;
    text-align: left;
}

#year_container {
    padding-left: 0px;
    width: 100%;
}

#year_n {
    color: black;
}

#year_body {
    margin-left: 1%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#expense_analytics {
    width: 80%;
}

#months_list {
    padding: 0px;
}

.row {
    width: 100%;
}

@import "bootstrap";
.jumbotron {
    background-color: navy;
    border-radius: 0px;
    color: white;
    margin: 0px;
    padding: 0px;
}

#navbarstrip {
    margin-top: 0px;
    padding: 5px;
    margin: 0px;
    padding: 0px;
    width: 100%
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#user_details {
    width: 100%;
    color: red;
    height: 27px;
    margin-top: 0px;
}

#welcome_message {
    width: 100%;
    margin-bottom: 0px;
}

#given_options {
    float: right;
    color: navy;
    padding: 0px;
    margin: 0px;
}

#product_name {
    margin-bottom: 0px;
}

#h_line {
    padding: 0px;
    margin: 0px;
}

#year_row {
    padding-left: 1.5em;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#year_name {
    width: 100%;
    height: 5em;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

#new_kb_vl_body {
    border-left: 2px solid navy;
    height: 140px;
    padding-left: 10px;
}

#add_kb_page {
    background-color: black;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#form_container {
    border: 3px solid navy;
    background-color: blue;
    width: 70%;
    margin-left: 5%;
    padding: 15px;
}

#version {
    text-align: center;
    font-size: 10px;
}

#ques {
    width: 85%;
    height: 30px;
    padding-top: 0px;
    padding-left: 2px;
}

#new_error_form {
    margin-left: 5%;
}

#tutorial_hr {
    background-color: red;
}

#stats_container {
    margin-left: 5%;
    padding: 0px;
}

#feedback_form {
    background-color: navy;
    align: center;
    width: 100%;
}

#tutorials_con {
    margin-left: 3%;
}

#feedback_results {
    height: 100px;
}

#my_feedback_count {
    width: 75%;
    height: 30px;
    padding-top: 1px;
    padding-left: 2px;
}

// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "gritter";
#available_estimate {
    background-color: grey;
    border-radius: 0px;
}

#avail_button {
    border-radius: 0px;
}

#rep {
    background-color: black;
}

#avail_e_card {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

#bookmarkrow {
    margin-left: 15px;
}

#bookmarkbutton {
    border-radius: 0px;
}

#sys_acc {
    padding-left: 1px;
}

#settings {
    background-color: navy;
}

#settt {
    background-color: purple;
}

#festive {
    width: 98%;
    border: 3px solid black;
    alighn: center;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 350px;
}

#plan_fields {
    height: 200px;
}

#estimate_av {
    height: 120px;
    border: 2px solid #006400;
    box-shadow: 10px 10px 5px green;
}

#trend {
    padding-left: 2px;
    height: 30px;
    padding-top: 0px;
}

#cl {
    border: 1px solid balck;
}

#theme_con {
    padding-left: 0px;
}

#mw {
    border: 1px solid balck;
}

#ii {
    border: 1px solid balck;
    width: 105%;
}

#bp {
    border: 1px solid balck;
    width: 105%;
}

#ob {
    background-color: navy;
    color: white;
}

#customm {
    background-color: purple;
    width: 80%;
    margin-left: 0px;
}

#pg {
    background-color: green;
    color: white;
}

#show_error_con {
    margin-left: 5%;
}

#show_error_det {
    border-radius: 0px;
}

#img_box {
    width: 100%;
    height: 500px;
    border: 5px dashed red;
    overflow-y: hidden;
}

#partition_hr {
    background-color: navy;
}

#index_hr {
    background-color: black;
}

#db {
    background-color: black;
    color: white;
}

#tut_tab {
    padding: 0px;
    margin: 0px;
}

#so {
    background-color: orange;
    color: black;
}

#show_error {
    padding: 0px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px red;
}

.scroll {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

#error_card {
    border-radius: 0px;
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#error_index_card {
    background-color: red;
    color: black;
    border-radius: 0px;
    border: 1px solid red;
}

#new_error_hr {
    background-color: black;
}

#first_field_tutorial_form {
    width: 25%;
}

#new_form_warning {
    font-size: 10px;
    color: red;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#assignment_warning {
    border-radius: 0px;
    margin-top: 0px;
}

#est_link_a {
    float: right;
}

#hui {
    background-color: navy;
    color: white;
    line-height: 25px;
    width: 80%;
    margin-left: 10%;
    height: 25px;
}

#hui_h {
    background_color: purple;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#notification_card_text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
}

#notification_card_hr_line {
    background-color: navy;
}

#notification {
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    width: 40%;
    overflow: scroll;
    max-height: 300px;
}

#notification_jumbo {
    height: 50%;
    padding-top: 0px;
}

#home_vl {
    border-left: 3px solid purple;
    max-height: 350px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#gim {
    margin-left: 2%;
    min-width: 98%;
}

#testing {
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
}

#notification_panel {
    padding-right: 0px;
    margin-right: 0px;
}

#notification_card {
    font-size: 14px;
}

#word_b {
    background-color: purple;
}

#details_row {
    width: 70px;
}

#identity {
    font-size: 25px;
    color: navy;
}

#chart_jumbo {
    padding-top: 5px;
}

.container {
    word-wrap: break-word;
}

#share_es {
    box-shadow: 10px 10px 5px grey;
}

#identity_t {
    font-size: 12px;
    color: navy;
}

#user_details_display_card {
    padding: 2px;
    margin: 2px;
}

#news_jumbotron {
    overflow: scroll;
    max-height: 350px;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 0px;
    min-width: 100%;
}

#news_jumbo_con {
    padding-top: 0px;
    margin-top: 0px;
}

#feed_col {
    padding-top: 0px;
    margin-top: 0px;
}

#tar_show {
    height: 30px;
    padding-top: 0px;
    padding-left: 2px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px navy;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
    color: black;
}

#footer_two {
    height: 30px;
    background-color: green;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 30%;
    color: black;
}

#footer_three {
    height: 30px;
    color: white;
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 30%;
}

#footer_four {
    height: 30px;
    background-color: orange;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 30%;
    color: black;
}

#quick_launch_icons {
    margin-left: 15px;
    padding-bottom: 0px;
    border: 1 px solid black;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 20px;
    text-decoration: none;
    background-color: green;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#itenarycontainer {
    width: 90%;
    margin-left: 2%;
}

#archived {
    background-color: navy;
    height: 100px;
    color: white;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#ar_b {
    margin: 2px;
    padding: 2px;
}

#oo {
    width: 30%;
}

#res_body {
    min-width: 98%;
}

#res_con {
    min-width: 98%;
}

#show_itenary_heading {
    padding-left: 0px;
    height: 30px;
    padding-top: 0px;
}

#new_kb_con {
    min-width: 98%;
}

#ooi {
    width: 20%;
}

#edititenary {
    padding-left: 0px;
    height: 30px;
    padding-top: 0px;
}

#editcont {
    margin-left: 5px;
}

#jour_mh {
    padding-left: 0px;
    height: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

#subh {
    color: black;
}

#itenarylist {
    padding-left: 0px;
    height: 30px;
    padding-top: 2px;
}

#itenarystart {
    height: 30px;
    width: 110px;
    padding-left: 0px;
    background-color: navy;
    color: white;
}

#itenaryname {
    height: 30px;
    width: 800px;
    padding-left: 0px;
    background-color: yellow;
}

#itenaryaction {
    height: 30px;
    width: 135px;
    padding-left: 0px;
    background-color: red;
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#assignment_warning {
    border-radius: 0px;
    margin-top: 0px;
}

#est_link_a {
    float: right;
}

#hui {
    background-color: navy;
    color: white;
    line-height: 25px;
    width: 80%;
    margin-left: 10%;
    height: 25px;
}

#hui_h {
    background_color: purple;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#notification_card_text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
}

#notification_card_hr_line {
    background-color: navy;
}

#notification {
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    padding-top: 0px;
    margin-top: 0px;
    width: 40%;
    overflow: scroll;
    max-height: 300px;
}

#notification_jumbo {
    height: 50%;
    padding-top: 0px;
}

#news_vl {
    border-left: 3px solid purple;
    max-height: 300px;
    width: 100%;
}

.alert {
    margin-bottom: 1px;
    height: 30px;
    padding: 0px 15px;
}

#notification_panel {
    padding-right: 0px;
    margin-right: 0px;
}

#notification_card {
    font-size: 14px;
}

#word_b {
    background-color: purple;
}

#details_row {
    width: 70px;
}

#identity {
    font-size: 25px;
    color: navy;
}

#chart_jumbo {
    padding-top: 5px;
}

.container {
    word-wrap: break-word;
}

#identity_t {
    font-size: 12px;
    color: navy;
}

#user_details_display_card {
    padding: 2px;
    margin: 2px;
}

#news_jumbotron {
    overflow: scroll;
    max-height: 300px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

#news_jumbo_con {
    padding-top: 0px;
    margin-top: 0px;
}

#feed_col {
    padding-top: 0px;
    margin-top: 0px;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

#quick_launch_icons {
    margin-left: 15px;
    padding-bottom: 0px;
    border: 1 px solid black;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 20px;
    text-decoration: none;
    background-color: green;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
    padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
    color: #aaaaaa;
}

.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}

.flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
    border-color: #003366;
    background: #0063dc;
    color: white;
}

.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
    border-width: 2px;
}

.flickr_pagination .previous_page {
    margin-right: 1em;
}

.flickr_pagination .next_page {
    margin-left: 1em;
}

#total_resources {
    border-radius: 0px;
}

#quiz_exam_center {
    background-color: grey;
}

#edit_assign_heading {
    padding-left: 0px;
    margin-left: 0px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#exam_ques_card {
    border-radius: 0px;
    border: 1px solid black;
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#one {
    width: 10%;
}

#two {
    width: 65%;
}

#three {
    width: 10%;
}

#four {
    width: 15%;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

#member {
    border-collapse: separate;
    border-spacing: 0 3em;
}

.container {
    word-wrap: break-word;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#imgg {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

html,
body {
    overflow-x: hidden;
}

.container {
    word-wrap: break-word;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#r_body_ends {
    background-color: navy;
}

#r_body_begin {
    background-color: red;
}

::selection {
    background: #808080;
    color: #E6E6E6;
}

blockquote {
    font-family: 'Oswald', sans-serif;
    line-height: 1.2em;
    font-size: 1.8em;
    column-span: 2;
    -webkit-column-span: 2;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}

h1 {
    text-align: center;
    color: navy;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
    font-size: 3em;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 2.4em;
    margin: 0px;
    padding: 0px;
    line-height: 0.8em;
    padding-top: 20px;
}

.time {
    font-family: 'PT Sans Narrow', sans-serif;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    font-size: 1.6em;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

@media only all and (min-width: 600px) {
    article {
        columns: 3;
        column-gap: 40px;
        line-height: 1.5em;
        font-size: 1em;
        column-rule: 2px outset #444;
    }
    h1 {
        font-size: 4em;
        column-span: all;
    }
    .time {
        column-span: all;
    }
    p {
        text-align: justify;
        text-justify: inter-word;
        hyphens: auto;
        hyphenate-character: "\u2605";
    }
}

#options {
    column-span: all;
    align: left;
}

#note_three {
    height: 100%;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#new_kb_vl {
    border-left: 2px solid navy;
    height: 140px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

#research_jumbo {
    padding-right: 1px;
    margin-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: white;
}

#journal_con {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

.social-share-button {
    .ssb-icon {
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
    }
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#backg {
    background-color: red;
}

#personalize_stories_button {
    border-radius: 0px;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#most_disliked_story {
    margin-left: 2%;
}

#imgg {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#comment_hr {
    background-color: navy;
    height: 2px;
}

#detailed_story {
    min-width: 98%;
}

.container {
    word-wrap: break-word;
}

#story_hr {
    background-color: navy;
}

#story_con {
    min-width: 98%;
}

#story_title_section {
    background-color: purple;
    color: white;
    border-radius: 0px;
}

#story_title_card {
    border-radius: 0px;
}

#test {
    border: 1px solid black;
}

#new_story_link {
    color: navy;
    text-decoration: none;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

#tweet_card {
    border-radius: 0px;
}

#tweetcardinside {
    border-radius: 0px;
}

#story_details {
    font-size: small;
    color: black;
}

#aboutafterline {
    background-color: red;
}

#about_info {
    text-align: justify;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#story_body {
    text-align: justify;
}

#blog_b {
    color: white;
}

#social_icons {
    font-size: 2.5em;
}

#user_details {
    width: 100%;
    color: red;
    height: 27px;
    margin-top: 0px;
}

#welcome_message {
    width: 100%;
    margin-bottom: 0px;
}

#given_options {
    float: right;
    color: navy;
    padding: 0px;
    margin: 0px;
}

#product_name {
    margin-bottom: 0px;
}

#h_line {
    padding: 0px;
    margin: 0px;
}

#story_home_quote {
    text-align: justify;
    font-weight: bold;
    font-size: 28px;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

#total_resources {
    border-radius: 0px;
}

#t_table {
    background-color: navy;
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#stale_task_personal {
    margin-top: 0px;
}

#stale_task_alert {
    height: 140px;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#newgrouptarget {
    align: left;
}

#lead_color {
    background-color: navy;
    color: white;
}

#member_color {
    background-color: blue;
    color: black;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#mem_buttons {
    float: left;
}

#col6 {
    background-color: navy;
}

#col7 {
    background-color: orange;
}

#col8 {
    background-color: green;
}

#col9 {
    background-color: red;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

#member {
    border-collapse: separate;
    border-spacing: 0 3em;
}

#mem_row {
    width: 50px;
}

#t_table_t {
    background-color: yellow;
}

#t_table_rr {
    color: black;
    height: 80px;
}

#tt_group_table {
    background-color: yellow;
}

#t_group_table {
    background-color: darkgreen;
}

#t_table_r {
    color: white;
    height: 80px;
}

.container {
    word-wrap: break-word;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#target_options {
    text-align: right;
    width: 70%;
}

#target_h {
    width: 30%;
    background-color: blue;
}

#target_hhh {
    width: 30%;
    background-color: brown;
}

#target_g {
    width: 30%;
    background-color: chartreuse;
}

#target_gy {
    width: 30%;
    background-color: brown;
}

#jbody {
    color: black;
}

#target_with_lead {
    width: 30%;
    background-color: yellow;
}

#target_index_row {
    height: 2em;
    line-height: 2em;
}

#target_detailed_info {
    width: 100%;
}

#col1 {
    width: 55%;
}

#col99 {
    width: 20%;
}

#col2 {
    width: 17%;
}

#col3 {
    width: 4%;
}

#col4 {
    width: 10%;
}

#group_target_hr {
    background-color: purple;
}

#ques_con {
    min-width: 98%;
}

#detailed_quiz {
    min-width: 98%;
}

#new_quiz_con {
    min-width: 98%;
}

#detailed_convo {
    min-width: 98%;
}

#creating_new_year {
    min-width: 98%;
}

#es_det {
    height: 10%;
}

#group_head {
    height: 2%;
}

#new_head {
    height: 2%;
}

#group_user {
    height: 2%;
}

#homes_vl {
    height: 40%;
}

#new_convo {
    min-width: 98%;
}

#newgroup_target {
    min-width: 98%;
}

#edit_con_es {
    min-width: 98%;
}

#my_emails {
    min-width: 98%;
}

#estimate_details {
    min-width: 98%;
}

#year_details {
    min-width: 98%;
}

#new_esti {
    min-width: 98%;
}

#docipedia_list {
    min-width: 98%;
}

#new_target {
    min-width: 98%;
}

#kb_list {
    min-width: 98%;
}

#target_type_heading {
    background-color: maroon;
    height: 5px;
}

#target_details {
    min-width: 98%;
}

#my_expenses_list {
    min-width: 98%;
}

#data {
    min-width: 98%;
}

#list_of_stories {
    min-width: 98%;
}

#link_for_creating_new_target {
    text-align: left;
}

#colwidth {
    width: 10em;
}

.jumbotron {
    background-color: navy;
    border-radius: 0px;
    color: white;
    margin: 0px;
    padding: 0px;
}

#user_details {
    width: 100%;
    color: red;
    height: 27px;
    margin-top: 0px;
}

#welcome_message {
    width: 100%;
    margin-bottom: 0px;
}

#given_options {
    float: right;
    color: navy;
    padding: 0px;
    margin: 0px;
}

#product_name {
    margin-bottom: 0px;
    background-color: green;
}

#h_line {
    padding: 0px;
    margin: 0px;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}


/* PAGINATION STYLING */

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
    padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
    color: #aaaaaa;
}

.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}

.flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
    border-color: #003366;
    background: #0063dc;
    color: white;
}

.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
    border-width: 2px;
}

.flickr_pagination .previous_page {
    margin-right: 1em;
}

.flickr_pagination .next_page {
    margin-left: 1em;
}

.container {
    max-width: 960px;
}

#wel_c {
    padding: 0px;
    margin: 0px;
}


/*
 * Custom translucent site header
 */

.container {
    word-wrap: break-word;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: fixed;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

#tech_details {
    text-align: left;
}

.product-device::before {
    position: fixed;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

body:not(.modal) {
    padding-right: 0px !important;
}


/*
 * Extra utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

#prod_head {
    color: navy;
}

#prod_sub {
    color: navy;
}

#application_name {
    background-color: navy;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#savings_tab {
    padding: 0px;
    height: 30px;
}

#application_name_two {
    background-color: green;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_three {
    background-color: black;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}

#application_name_four {
    background-color: orange;
    height: 1.5em;
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}

#year_n {
    padding: 0px;
    height: 40px;
}

#udet {
    color: navy;
    font-size: 10px;
    padding-left: 5px;
}

#l_h {
    background-color: white;
}

#list_r {
    width: 100%;
    margin-left: 1px;
    padding-left: 0px;
}

#year_card {
    border-radius: 0px;
    background-color: navy;
    color: white;
    border: 2px solid white;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
    height: fixed;
    overflow: scroll;
    height: 300px;
}

#year_estimate_link {
    border-radius: 0px;
}

#udett {
    font-size: 10px;
    padding-left: 5px;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 180px;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

#total_card_cons {
    background-color: orange;
    border-radius: 0px;
    height: 30px;
    color: black;
    text-align: center;
}

#alert_stories {
    margin-bottom: 1px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
}

#total_card_conf {
    background-color: red;
    border-radius: 0px;
    height: 30px;
    color: white;
    text-align: center;
}

#total_card {
    background-color: navy;
    border-radius: 0px;
    height: 30px;
    color: white;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

.container {
    word-wrap: break-word;
}

#tag {
    border: 2px solid yellow;
    height: 200px;
    width: 35%;
    margin-left: 3%;
}

#col1 {
    width: 15%;
    color: navy;
}

#col2 {
    width: 18%;
    color: navy;
}

#col3 {
    width: 52%;
    color: navy;
}

#col4 {
    width: 15%;
    color: navy;
}

#tag_first {
    border: 2px solid yellow;
    height: 200px;
    width: 35%;
}

#year_disp {
    width: 20%;
    margin-left: 4%;
    float: left;
}

#year_name {
    color: black;
}

#year_lists {
    width: 100%;
    padding-top: 10px;
    background-color: indigo;
    padding-left: 0px;
    margin-left: 0px;
    height: 220px;
    text-align: left;
}

#year_container {
    padding-left: 0px;
    width: 100%;
}

#year_n {
    color: black;
}

#year_body {
    margin-left: 1%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#expense_analytics {
    width: 80%;
}

#months_list {
    padding: 0px;
}

.row {
    width: 100%;
}

@import "bootstrap";
.jumbotron {
    background-color: navy;
    border-radius: 0px;
    color: white;
    margin: 0px;
    padding: 0px;
}

#navbarstrip {
    margin-top: 0px;
    padding: 5px;
    margin: 0px;
    padding: 0px;
    width: 100%
}

#iten_con {
    min-width: 98%;
}

#footer {
    height: 30px;
    background-color: navy;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 21%;
}

#footer_text {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
}

#user_details {
    width: 100%;
    color: red;
    height: 27px;
    margin-top: 0px;
}

#welcome_message {
    width: 100%;
    margin-bottom: 0px;
}

#given_options {
    float: right;
    color: navy;
    padding: 0px;
    margin: 0px;
}

#product_name {
    margin-bottom: 0px;
}

#h_line {
    padding: 0px;
    margin: 0px;
}

#year_row {
    padding-left: 1.5em;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#year_name {
    width: 100%;
    height: 5em;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}