// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "gritter";

#total_resources
{
  border-radius: 0px;
}

 #application_name
{
  background-color: navy;
  height: 1.5em;
  font-size: 30px;
  margin-bottom:0px;
  color:white;
}
.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
#stale_task_personal
{
  margin-top: 0px;
}
#stale_task_alert
{
  height: 140px;
}
#udet
{
  color: navy;
  font-size: 10px;
  padding-left: 5px;
}
#udett
{
  font-size: 10px;
  padding-left: 5px;
  
}
#newgrouptarget
{
  align:left;
}
#lead_color
{
  background-color:navy;
  color: white;
}
#member_color
{
  background-color:blue;
  color:black;
}
a:hover, a:active, a:focus 
{
  outline: 0;
}
#mem_buttons
{
  float: left;
}
#col6
{
  background-color:navy;
}
#col7
{
  background-color:orange;
}
#col8
{
  background-color:green;
}
#col9
{
  background-color:red;
}

  #footer
  {
    height:30px;
    background-color:navy;
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top: 180px;

  }
  #member {
    border-collapse: separate;
    border-spacing: 0 3em;
}
#mem_row
{
  width: 50px;
}
#t_table
{
  background-color: navy;
}

#t_group_table
{
  background-color: darkgreen;
}

#t_table_r
{
  color: white;
  height:80px;
}

.container
{
  word-wrap:break-word;
}


  #footer_text
  {
  text-align:right;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:5px;
  color:white;

  }


#target_options
{
  text-align: right;
  width:70%;
}

#target_h
{
  width:30%;
  background-color: blue;
}

#target_g
{
  width:30%;
  background-color: chartreuse;
}
#target_with_lead
{
  width:30%;
  background-color: yellow;
}

#target_index_row
{
  height: 2em;
  line-height: 2em;
}

#target_detailed_info
{
  width:100%;
}
#col1
{
  width:55%;
}
#col99
{
  width:20%;
}
#col2
{
  width:17%;
}
#col3
{
  width:4%;
}
#col4
{
  width:10%;
}
#group_target_hr
{
  background-color: purple;
}
#new_target
{
  width:100%;
}
#target_type_heading
{
  background-color: yellow;
}

  #target_details
  {
   width:95%;
  }

  #link_for_creating_new_target
  {
    text-align:left;

  }

  #colwidth
  {
   width: 10em;
  }


  .jumbotron
   {
   background-color:navy;
   border-radius:0px;
   color:white;
   margin: 0px;
   padding: 0px;
   }




  


  #user_details
  {
  width:100%;
  color:red;
  height:27px;
  margin-top:0px;
  }

#welcome_message
{
  width:100%;
  margin-bottom:0px;

}

#given_options
{
  float:right;
  color:navy;
  padding:0px;
  margin:0px;
}

#product_name
{
  margin-bottom:0px;
  background-color:green;
}

#h_line
{
  padding:0px;
  margin:0px;
}


.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: purple;
    color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}