

<table id="kb_t">


<tr>
	<td id="r_1"><%= link_to "View Article", community.doc.url %></td>
	<td id="r_2"></td>

	<td id="r_3"><%= community.title %></td>
	<td id="r_4"></td>
	<% if logged_in?(:site_admin) %>
	<td id="r_5"><%= link_to 'Delete', community, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-danger" %></td>
	<% end %>
</tr>

<hr>
</table>
