<div class = "container" id ="new_kb_con">
<%= render 'form', community: @community %>
<br/>
<br/>
<br/>
<br/>
<br/>
<center>
<%= link_to 'BACK', communities_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>
</center>
</div>
