<div class = "container">
<%= render 'form', community: @community %>
<br/>
<br/>
<br/>
<br/>
<br/>
<center>
<%= link_to 'BACK', communities_path, class: 'btn btn-outline-primary' %>
</center>
</div>
