<br/>
<br/>
<div class = "container">

<%= render 'form', year: @year %>

<br/>
<br/>
<br/>


<%= link_to 'BACK', years_path, class: 'btn btn-outline-primary' %>
<%= link_to 'SHOW', @year, class: 'btn btn-outline-primary' %> 
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>

</div>