<br/>
<br/>
<div class="container" id ="creating_new_year">

<%= render 'form', year: @year %>


<br/>
<br/>
<br/>
<br/>
<br/>

<%= link_to 'BACK', years_path, class: 'btn btn-outline-primary'%>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary'%>

</div>